<nav id="navigation">
    <ul class="nav-list">
        <li id="nav-first" aria-label="home">
            <div class="nav-item">
                <a href="{{ '/' | prepend: site.baseurl }}" class="nav-list-link nav-lh">
                    <span>
                        <img src="https://i.redd.it/qieveg5m49z91.gif" width="45" height="25">
                        home
                    </span>
                </a>
              </div>
               <div class="nav-item">
                <a href="{{ '/projects.html' | prepend: site.baseurl }}" class="nav-list-link nav-lh">
                    <span>
                        <img src="https://i.redd.it/qieveg5m49z91.gif" width="45" height="25">
                        projects
                    </span>
                </a>
            </div>
               <div class="nav-item">
                <a href="{{ '/cv.html' | prepend: site.baseurl }}" class="nav-list-link nav-lh">
                    <span>
                        <img src="https://i.redd.it/qieveg5m49z91.gif" width="45" height="25">
                        cv
                    </span>
                </a>
               </div>
               <div class="nav-item">
                <a href="{{ '/garden.html' | prepend: site.baseurl }}" class="nav-list-link nav-lh">
                    <span>
                        <img src="https://i.redd.it/qieveg5m49z91.gif" width="45" height="25">
                        garden
                    </span>
                </a>     
            </div>
         </li>
    </ul>
</nav>
