$color-wenge: #54665d;
$color-beige: #F1EBE5;
$color-darkbrown: #011203;
$color-darkorange: #05663e;
$color-rose: #42fa73;
$color-aqua: #64c8c8;
$sidebarwd: 18rem;
$contentwd: 54rem;

$mediawd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;
